@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale-up {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    
    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.scale-up-animation {
    animation: scale-up 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

::-webkit-scrollbar {
    width: 0.8rem !important;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border: 0.1rem solid transparent;
    border-radius: 1rem;
    background-clip: padding-box;
    background-color: #cbcfd4;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #363842;
}

::-webkit-scrollbar-corner {
    background: transparent;
}